
<% provide(:title, 'create new event') %>
<h1>Sign up</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@event) do |f| %>
	  <%= render 'shared/error_messages' %>



 

      <%= f.label " name of event"%>
      <%= f.text_field :name %>
      
      <%= f.hidden_field :user, :value=> :user%>
      
      
	<%= f.label :dayof%>
	<%= f.text_field :dayof%>
 

 
      <%= f.submit "Create event", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>